<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a href="/" class="navbar-brand">Lista de Contatos</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <% if !user_signed_in? %>
                    <li class="nav-item">                    
                        <%= link_to 'Nova conta', new_user_path, class: "nav-link active"%>
                    </li>
                
                <% end %>

                <% if user_signed_in? %>
                  <li class="nav-item dropdown">
                      <a href="#" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                      <div class="dropdown-menu">
                          <a href="#" class="dropdown-item">Inbox</a>
                          <a href="#" class="dropdown-item">Drafts</a>
                          <a href="#" class="dropdown-item">Sent Items</a>
                          <div class="dropdown-divider"></div>
                          <a href="#"class="dropdown-item">Trash</a>
                      </div>                    
                  </li>
                <% end %>
              
            </ul>


            <ul class="nav navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="nav-item dropdown">
                    <a href="/entrar" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown">Bem vindo, <%= current_user.name %></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <%= link_to 'Minha página', contacts_path, class: "dropdown-item" %>
                       <!-- <%= link_to 'Minha página2', user_path(current_user), class: "dropdown-item" %> -->
                        <a href="#" class="dropdown-item">Editar</a>
                        <div class="dropdown-divider"></div>
                        
                        <%= link_to 'Sair', sair_path, method: :delete , class: "dropdown-item" %>

                    </div>
                </li>                
                <% else %>
                   <%= link_to 'Entrar', entrar_path, class: "nav-link active" %>
                <% end %>
            </ul>



        </div>
    </div>
</nav>